<!DOCTYPE html>
<html>
  <head>
    <title>Camber Carpenter - Official Website</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bundle' %>
    <meta name="viewport" content="width=device-width">
  </head>
  <body class="admin">
    <div id="admin-framework">
      <div id="admin-row" class="row">
        <div id="admin-sidebar" class="col-xs-2 match-height-layout">
          <%= button_to "Sign out", sign_out_path, { method: :delete, class: "sidebar-button" } %>
          <ul>
            <li><a href="/admin/events">Events</a></li>
            <li><a href="/admin/news_items">News</a></li>
            <li><a href="/admin/episodes">Episodes</a></li>
          </ul>
        </div>
        <div id="admin-right-column" class="col-xs-10 match-height-layout">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
